<h2> Search </h2>
<%= form_tag root_path, :method => 'get', :id => "records_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<p id="summary">
Found <%= @records.count - 1 %> results in <%= @tstop %> seconds.
</p>

<div id="records">
  <%= render 'records' %>
</div>

