<h2> Search </h2>
<%= form_tag root_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<p><b>
Found <%= @records.count %> results in <%= @tstop %> seconds.
</b></p>

<p>
<% @records.each do |r| %>
  <%= r %><br/>
<% end %>
</p>
